
.title-font {
  font-family: $headers-font;
  font-weight: 700;
}

.cta-and-p-font {
  font-family: $body-font;
  font-weight: 400;
  font-size: 1rem;
}

.fill-primary {
  fill: $primary;
}

.fill-success {
  fill: $success;
}

.fs-custom{
  font-size: 60px;
}
.h-custom {
  height: 750px;
}
